.btn-mango {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
        
.btn-pera {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
        
.btn-platano {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
            
.btn-cereza {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
        
.btn-uva {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
                
.btn-pina {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
        
.btn-coliflor {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
            
.btn-berenjena {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
            
.btn-manzana {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
                
.btn-fresa {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
            
.btn-sandia {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
                    
.btn-durazno {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}