.btn1 {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
            
.btn2 {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
            
.btn3 {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
                
.btn4 {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
            
.btn5 {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
                    
.btn6 {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
            
.btn7 {
background-color: #F7E509;
border: 0px;
padding: 20px;
width: 260px;
color: #000;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
                
    .btn8 {
    background-color: #F7E509;
    border: 0px;
    padding: 20px;
    width: 260px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    }
                
    .btn9 {
    background-color: #F7E509;
    border: 0px;
    padding: 20px;
    width: 260px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    }
                    
    .btn10 {
    background-color: #F7E509;
    border: 0px;
    padding: 20px;
    width: 260px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    }
                
    .btn11 {
    background-color: #F7E509;
    border: 0px;
    padding: 20px;
    width: 260px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    }
                        
    .btn12 {
    background-color: #F7E509;
    border: 0px;
    padding: 20px;
    width: 260px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    }